html { scroll-behavior: smooth; }

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.baggrund{
    margin: 0;
    padding: 0;
    background-image: url('billeder/baggrund.png');
    background-size: cover; /* This will make the background image cover the entire container */
    background-position: center; /* This will center the background image */
    background-repeat: no-repeat; /* This will prevent the background image from repeating */
    height: 100vh; /* This sets the height of the container to 100% of the viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
}

.logindkasse{
    height: 50%;
    width: 50%;
    background-color: #008559;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo{
    color: White;
    margin: 0 0 30px 0;
    width: 50%;
    
  }

  .h3 {
    color: white;
    margin: 0 0 150px 0;
    text-align: center;
    font-size: 2vw;
  }

.aabenknap {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; /* Ensure the button is above the image */
}

form {
    border: 3px solid #f1f1f1;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #D7EAD9;
    color:#008559;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 25%;
    box-shadow: 0 1px 6px rgb(138, 137, 137);
    border-radius: 7px;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .annuknap {
    width: auto;
    padding: 10px 18px;
    background-color: white;
    color: #008559;
  }

  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.adk {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.adk {
      display: block;
      float: none;
    }
    .annuknap {
      width: 100%;
    }
  }

  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  /* Close button on hover */
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }

  /* Dashboard side */
  .header{
    display: flex;
    width: auto;
    height: 130px;
    background-color: #008559;
    justify-content: center;
    align-items: center;
  }
  .logoheader{
    height: 45%;
    width: auto;
  }
  .dashboard{
    margin-top: 9px;
    font-size: 25px;
    color: #f1f1f1;
  }

  .baggrundsboks {
    height: 50vh; 
    width: 100%; 
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
    margin-top: 10%;
}

.dropbtn {
    background-color: #008559;
    color: white;
    padding: 10px;
    font-size: 18px;
    width: 200px;
    border-radius: 7px;
    margin-top: 10%;
    text-align: left;
}
.dropbtn::after {
  content: "∨"; /* Unicode trekant for at simulere en dropdown-pil */
  position: absolute;
  top: 60%;
  right: 10px;
  transform: translateY(-20%);
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #008559;
  width: 200px;
  border-radius: 7px;
  z-index: 2;
}

.dropdown-content a {
  color: white;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

