html {
   scroll-behavior: smooth; 
  }

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.baggrund{
    margin: 0;
    padding: 0;
    background-image: url('billeder/baggrund.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.logindkasse{
    height: 45%;
    width: 50%;
    background-color: #008559;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo{
    color: White;
    margin: 30px 0 30px 0;
    width: 50%;
    margin-bottom: -10px;
  }

  .h3 {
    color: white;
    margin: 0 0 145px 0;
    text-align: center;
    font-size: 1.8vw;
  }

.aabenknap {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; 
}

form {
    border: 3px solid #f1f1f1;
  }
  
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 7px;
  }
  
  button {
    background-color: #D7EAD9;
    color:#008559;
    padding: 15px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 170px;
    box-shadow: 0 1px 6px rgb(138, 137, 137);
    border-radius: 7px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .annuknap {
    width: 100px;
    padding: 14px 20px;
    background-color:#D7EAD9;
    color:#008559;
    font-weight: bold;
  }

  .container {
    padding: 16px;
    color: white;
  }

  span.adk {
    padding-top: 16px;
    padding-right: 20px; 
}
  
  @media screen and (max-width: 300px) {
    span.adk {
      display: block;
      float: none;
    }
    .annuknap {
      width: 100px;
    }
  }

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.6); 
  }
  
  .modal-content {
    background-color: #008559;
    margin: 15% auto; 
    border: 2px solid white;
    width: 50%; 
    height: 50%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    padding-top: 20px;
  }
  
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #D7EAD9;
    cursor: pointer;
  }
  
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }

  body {
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    width: 100vw;
    max-width: 1680px;
    height: 130px;
    background-color: #008559;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logoheader {
    max-width: 200px;
    height: auto;
}

.dashboard {
    margin-top: 8px;
    font-size: 30px;
    font-weight: 500;
    color: #f1f1f1;
}

  /* Lillian */
  
  li{
    list-style: none;
}

a{
    text-decoration: none;
    font-size: 18px;
}

.burgercontainer{
    display: flex;
    align-items: center;
}

.profilbillede {
  width: 170px;
}


.navbar{
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu{
    display: none;
    gap: 10px;
    padding-right: 25px;
    font-family: Arial Impact, 'Arial Bold', sans-serif; 
}

.nav-profil{
    margin-top: 25px;
    text-align: center;
    align-items: center; 
    margin-bottom: 25px;
}

.nav-profil img {
    margin-bottom: 15px; 
}


.profil-navn1{
    font-size: 22px;
    color: black;
}

.profil-navn2{
    font-size: 13px;
    color: black;
}

.nav-link{
    display: flex;
    align-items: center;
    transition: 0.7s ease;
    padding-left: 50px; 
    color: black; 
}

.nav-link img {
    width: 40px; 
    height: 40px;
    margin-right: 25px;
}

.hamburger{
    display: block;
    cursor: pointer;
}

.nav-divider {
    width: 80%;
    border: none;
    border-top: 1px solid BLACK; 
    margin: 27px 0 -7px 30px; 
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

    .nav-menu.active {
        display: flex;
        color: black; 
        flex-direction: column;
        position: absolute;
        top: 100px; 
        right: 0;
        background-color: #F4F4F4;
        width: 100%;
        max-width: 300px;
        border-left: 2px solid #4D4D4D;
        border-right: 2px solid #4D4D4D;
        border-bottom: 2px solid #4D4D4D;
    }


.nav-menu.menu-open {
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin-top: 130px;
    background-color: #F4F4F4;
    z-index: 1;
}

 .nav-item {
        margin: 10px 0;
    }

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}
.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/* Lillian slut */

/* signe */

.temperaturennucontainer{
  margin: 10px;
  width: 90%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

.temperaturennu {
  font-size: 20px;
  font-weight: bold;
  color: black; 
}

#temperature-container {
  text-align: center;
  padding: 6px;
  border-radius: 8px;
  width: 90px;
}


#temperature {
  font-size: 20px;
  margin-bottom: 10px;
  padding: 6px;
  border-radius: 7px;
}

#temperature.lightblue {
  background-color: #23B5D3;
}

#temperature.yellow {
  background-color: #FABC3C;
}

#temperature.red {
  background-color: #E85F5C;
}
/* signe slut */

.baggrundsboks {
  height: auto;
  width: 90%;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.responsive-container {
  display: flex;
  flex-direction: row;
  width: 100%; 
}

.dropmenuer {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
  flex: 1;
}

.graf, .tidsramme, .interval, .dropbtn {
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
}

.dropbtn {
  background-color: #008559;
  color: white;
  padding: 10px;
  width: 200px;
  border-radius: 7px;
  margin-top: 10%;
  text-align: left;
  position: relative;
}

.dropbtn::after {
  content: "∨";
  position: absolute;
  top: 40%;
  right: 10px;
  transform: translateY(-20%);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #008559;
  width: 80%;
  border-radius: 7px;
  z-index: 2;
}

.dropdown-content a {
  color: white;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* Michelle */
.chartbox {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 20px;
  margin: 20px;
  flex: 2;
  position: relative;
  align-items: center;
}

#fejlMeddelelse {
  color: red;
  position: absolute;
  top: -30px; 
  margin-top: 30px;
}

#målinger{
  background-color: #008559;
  color: white;
  padding: 10px;
  font-size: 15px;
  width: 200px;
  border-radius: 7px;
  margin-top: 10%;
  text-align: left;
  font-weight: bold;
}

#målinger option {
  display: none;
  position: absolute;
  background-color: #008559;
  width: 200px;
  border-radius: 7px;
  z-index: 2;
  color: white;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
  text-align: left;

}

@media screen and (max-width: 900px) {
  .responsive-container {
    flex-direction: column; 
  }

  .dropmenuer, .chartbox {
    width: 100%; 
    margin: 0; 
  }
}


/* Sarah */

.undergraf{
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.statuskasse{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  height: 750px;
  width: 550px;
  background-color: #ffffff;
  margin: 80px;
  border-radius: 15px;
}

.vælgstatusplante{
  margin-top: 30px;
}

.dropplante{
  background-color: #008559;
  height: 40px;
  color: white;
  padding: 10px;
  font-size: 15px;
  width: 450px;
  border-radius: 7px;
  margin-top: 16px;
  text-align: left;
  font-weight: bold;
}

.dropplante::after {
  content: "∨"; 
  position: absolute;
  top: 60%;
  right: 10px;
  transform: translateY(-20%);
}

.grålinjer{
height: 550px;
width: 550px;
position: absolute;
margin-top: 150px;
}

.venstretekst{
  margin-left: 50px;
  margin-bottom: -20px;
  color: #b4afaf;
}

.grålinje{
 background-color: #EBEBEB;
 margin: 50px;
 width: 450px;
 height: 30px;
 border-radius: 10px;
}

.grønnelinjer{
  height: 550px;
  width: 550px;
  position: absolute;
  margin-top: 150px;
}

.højretekst{
  text-align: end;
  margin-right: 50px;
  margin-bottom: -20px;
}

.grølinje1{
  background-color: #008559;
  margin: 50px;
  width: 70%;
  height: 30px;
  border-radius: 10px;
}

.grølinje2{
  background-color: #008559;
  margin: 50px;
  width: 60%;
  height: 30px;
  border-radius: 10px;
}

.grølinje3{
  background-color: #008559;
  margin: 50px;
  width: 40%;
  height: 30px;
  border-radius: 10px;
}

.grølinje4{
  background-color: #008559;
  margin: 50px;
  width: 25%;
  height: 30px;
  border-radius: 10px;
}

.kalenderkasse{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  height: 750px;
  width: 550px;
  background-color: #ffffff;
  margin: 80px;
  border-radius: 15px;
}

.tilføjplante{
  width: 450px;
  margin-top: 30px;
}

.tilføjplante input{
  background-color: #008559;
  border-radius: 10px;
  color: #ffffff;
}

.vælgdato{
  margin-top: 20px;
  width: 450px;
  height: 50px;
}

::placeholder{
  color: #ffffff;
}

.wrapper {
  width: 450px;
  background: #03855A;
  border-radius: 10px;
  margin: 20px;
}
.wrapper header{
 display: flex;
 align-items: center;
 padding: 25px 30px 10px;
 justify-content: space-between;
 background: #D8EAD9; 
 border-radius: 10px;
}
header .current-date{
  font-size: 1.45rem;
  font-weight: 500;
}
header .icons span{
  height: 38px;
  width: 38px;
  color: #000000;
  font-size: 1.9rem;
  margin: 0 1px;
  cursor: pointer;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
 
}
header .icons span:hover{
  background: #f2f2f2;
}
header .icons span:last-child{
  margin-right: -10px;
}
.kalender{
  padding: 20px;
}
.kalender ul{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  text-align: center;
}
.kalender .dage li{
  margin-bottom: 20px;
  color: #ffffff;
}
.kalender .uger li{
  font-weight: 500;
  color: #ffffff;
}
.kalender ul li{
  position: relative;
  width: calc(100% / 7);
}
.kalender .dage li{
  z-index: 1;
  cursor: pointer;
  margin-top: 30px;
}
.dage li.inactive{
  color: #b4afaf;
}
.dage li.active{
  color: #fff;
}
.kalender .dage li::before{
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  top: 50%;
  left: 50%;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.dage li:hover::before{
  background: #b4afaf;
}
.dage li.active::before{
  background: #b4afaf; 
}

footer {
  background-color: #D7EAD9; 
  padding: 10px;
  text-align: center;
  border-radius: 12px;
  width: 100%;
}

footer p {
  margin: 0;
  font-size: 12px;
  font-weight: bold; 
  color: black;
}

@media screen and (max-width: 900px) {
  .statuskasse{
    height: 750px;
    width: auto;
  }

  .dropplante{
    width: 300px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .valgtplante{
    margin-left: 20px;
  }

  .grålinjer{
    width: 300px;
  }

  .grålinje{
    width: 300px;
    margin-left: 3px;
    margin-right: 7px;
  }

  .grønnelinjer{
    width: 300px;
    margin-left: -90px;
  }

  .venstretekst{
    margin-left: 5px;
  }

  .højretekst{
    margin-right: -45px;
  }

  .tilføjplante, .vælgdato {
    width: 300px;
  }

  .kalenderkasse{
    height: 750px;
    width: auto;
    margin-top: 10%;
  }

  .wrapper {
    width: 300px;
  }

}

@media only screen and (max-width: 600px) {
  footer {
      padding: 8px;
  }
}