html { scroll-behavior: smooth; }

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.baggrund{
    margin: 0;
    padding: 0;
    background-image: url('billeder/baggrund.png');
    background-size: cover; /* This will make the background image cover the entire container */
    background-position: center; /* This will center the background image */
    background-repeat: no-repeat; /* This will prevent the background image from repeating */
    height: 100vh; /* This sets the height of the container to 100% of the viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
}

.logindkasse{
    height: 45%;
    width: 50%;
    background-color: #008559;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo{
    color: White;
    margin: 0 0 30px 0;
    width: 50%;
    
  }

  .h3 {
    color: white;
    margin: 0 0 150px 0;
    text-align: center;
    font-size: 2vw;
  }

.aabenknap {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; /* Ensure the button is above the image */
}

form {
    border: 3px solid #f1f1f1;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=adgangskode] {
    width: 100%;
    padding: 12px 20px;
    margin: 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 7px;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #D7EAD9;
    color:#008559;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100px;
    box-shadow: 0 1px 6px rgb(138, 137, 137);
    border-radius: 7px;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .annuknap {
    width: 100px;
    padding: 14px 20px;
    background-color: #D7EAD9;
    color: #008559;
  }

  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.adk {
    padding-top: 16px;
    padding-right: 20px; 
}
  
  @media screen and (max-width: 300px) {
    span.adk {
      display: block;
      float: none;
    }
    .annuknap {
      width: 100px;
    }
  }

  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    padding-top:center;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #008559;
    margin: 15% auto; /* 15% from the top and horizontally centered */
    border: 2px solid white;
    width: 50%; /* Adjust width based on your preference */
    height: 50%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    padding-top: 20px;
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  /* Close button on hover */
  .close:hover,
  .close:focus {
    color: #D7EAD9;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }

  /* Dashboard side */
  .header{
    display: flex;
    width: auto;
    height: 130px;
    background-color: #008559;
    justify-content: center;
    align-items: center;
  }
  .logoheader{
    height: 45%;
    width: auto;
  }
  .dashboard{
    margin-top: 9px;
    font-size: 25px;
    color: #f1f1f1;
  }

  .baggrundsboks {
    height: 60vh; 
    width: 100%; 
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 20px;
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropmenuer {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
}

.graf{
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
}
.tidsramme{
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
}
.interval{
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
}
.dropbtn {
    background-color: #008559;
    color: white;
    padding: 10px;
    font-size: 15px;
    width: 200px;
    border-radius: 7px;
    margin-top: 10%;
    text-align: left;
    font-weight: bold;
}
.dropbtn::after {
  content: "∨"; /* Unicode trekant for at simulere en dropdown-pil */
  position: absolute;
  top: 70%;
  right: 10px;
  transform: translateY(-20%);
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #008559;
  width: 200px;
  border-radius: 7px;
  z-index: 2;
}

.dropdown-content a {
  color: white;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

/* Michelle */

.chartbox{
  display: flex;
  width: 900px;
  padding: 20px;
  margin: 200px;
}

#målinger{
  background-color: #008559;
  color: white;
  padding: 10px;
  font-size: 15px;
  width: 200px;
  border-radius: 7px;
  margin-top: 10%;
  text-align: left;
  font-weight: bold;
}

#målinger option {
  display: none;
  position: absolute;
  background-color: #008559;
  width: 200px;
  border-radius: 7px;
  z-index: 2;
  color: white;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
  text-align: left;

}
/* signe */

.temperaturennu {
  font-size: 20px;
  font-weight: bold;
  color: black; /* Juster farven efter behov */
  position: absolute;
  top: 145px;
  right: 150px; /* Ændret fra 250px til 20px for at placere det mere til højre */
}

#temperature-container {
  text-align: center;
  padding: 6px;
  border-radius: 8px;
  position: absolute;
  top: 15%; /* Juster denne værdi for at ændre afstanden fra toppen */
  right: 10px;
  width: 90px;
}


#temperature {
  font-size: 24px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 7px;
}

#temperature.lightblue {
  background-color: #23B5D3;
}

#temperature.yellow {
  background-color: #FABC3C;
}

#temperature.red {
  background-color: #E85F5C;
}
/* signe slut */


/* Sarah */

.undergraf{
  height: 800px;
  width: auto;
  display: flex;
  flex-direction: row;
}

.statuskasse{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  height: 750px;
  width: 550px;
  background-color: #f2f2f2;
  margin-top: 80px;
  border-radius: 15px;
}

.tilføjplante{
  width: 450px;
  margin-top: 30px;
}

.tilføjplante input{
  background-color: #008559;
  border-radius: 10px;
  color: #ffffff;
}

.vælgdato{
  margin-top: 20px;
  width: 450px;
  height: 50px;
}

::placeholder{
  color: #ffffff;
}


.kalenderkasse{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  height: 750px;
  width: 550px;
  background-color: #f2f2f2;
  margin-top: 80px;
  border-radius: 15px;
}

.wrapper {
  width: 450px;
  background: #03855A;
  border-radius: 10px;
  margin: 20px;
}
.wrapper header{
 display: flex;
 align-items: center;
 padding: 25px 30px 10px;
 justify-content: space-between;
 background: #D8EAD9; 
 border-radius: 10px;
}
header .current-date{
  font-size: 1.45rem;
  font-weight: 500;
}
header .icons span{
  height: 38px;
  width: 38px;
  color: 878787;
  font-size: 1.9rem;
  margin: 0 1px;
  cursor: pointer;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
 
}
header .icons span:hover{
  background: #f2f2f2;
}
header .icons span:last-child{
  margin-right: -10px;
}
.kalender{
  padding: 20px;
}
.kalender ul{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  text-align: center;
}
.kalender .dage li{
  margin-bottom: 20px;
  color: #ffffff;
}
.kalender .uger li{
  font-weight: 500;
  color: #ffffff;
}
.kalender ul li{
  position: relative;
  width: calc(100% / 7);
}
.kalender .dage li{
  z-index: 1;
  cursor: pointer;
  margin-top: 30px;
}
.dage li.inactive{
  color: #b4afaf;
}
.dage li.active{
  color: #fff;
}
.kalender .dage li::before{
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  top: 50%;
  left: 50%;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.dage li:hover::before{
  background: #b4afaf;
}
.dage li.active::before{
  background: #b4afaf; 
}

footer {
  background-color: #D7EAD9; /* Ændr farven efter behov */
  padding: 10px;
  text-align: center;
  border-radius: 12px;
}

footer p {
  margin: 0;
  font-size: 12px;
  font-weight: bold; 
  color: black;
}

@media only screen and (max-width: 600px) {
  footer {
      padding: 8px;
  }
}